<div class="App">
	<button class="btn btn-default js-shader">Shader</button>
	<button class="btn btn-default js-composer">Composer</button>
	<button class="btn btn-default js-fxcomposer">EffectsComposer</button>
	<div id="#content"></div>
</div>