<div class="ThreeView">
	<video id="myVideo" src="../vid3.mp4" loop controls autoplay ></video>
	<video id="myVideo2" src="../vid4.mp4" loop controls autoplay ></video>
	<video id="mixer" src="../vid1.mp4" loop controls autoplay ></video>
	<div id="three"></div>
</div>