<div class="YoutubeThree">
	<video id="myVideo" src="../vid.mp4" loop controls autoplay ></video>
	<video id="myVideo2" src="../vid2.mp4" loop controls autoplay ></video>
	<div id="three"></div>
	<div class="ThreeFonts"></div>
</div>