<div class="YoutubeMix">
	<video id="myVideo" controls autoplay ></video>
	<input id="searchField" class="YoutubeKeywords" type="text" value="comma seperated search terms">
	<div class="YoutubeButton js-go">GO</div>
</div>