<div class="App">
	<div class="AppButton js-youtube"><span>YOUTUBE</span></div>
	<div class="AppButton js-vlc">VLC</div>
	<div class="AppButton js-youtubeMix">YOUTUBE MIX</div>
	<div class="AppButton js-youtubePlayer">YOUTUBE PLAYER</div>
	<div class="AppButton js-threeMix">THREEJS</div>
</div>