/**
 * Live
 */

.Live {
}

.Live-bg{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	min-height:100%;
}

.Button{
	position:relative;
	width:50px;
	height:50px;
	background-color:#222;
	margin-bottom:20px;
}